<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>


<div class="login" >
    <div class="login-triangle"></div>

    <h2 class="login-header">Log in</h2>

    <form class="login-container" action="/admin" method="post">
        <p><input type="text" name="username" placeholder="Tài Khoản"></p>
        <p><input type="password" name="password" placeholder="Mật Khẩu"></p>
        <p><input type="submit" value="Log in " style="background:  #262626"></p>
    </form>
</div>



</body>