
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/change-password.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<%include ./partials/header2.ejs%>

<br><br>

<br><br>
<div class="container">
    <div class="row">
        <div class="hidden-xs col-md-3" id="sidebar">
            <h2>TÀI KHOẢN</h2><br>
            <ul class="nav left-menu">
                <li class="active">
                    <a href="/manage-account">
                        <p>Quản Lí Thông Tin</p>
                    </a>
                </li>
                <li  class="active">
                    <a href="/changePassword">
                        <p>Đổi Mật Khẩu</p>
                    </a>
                </li>
            </ul>
        </div>


        <div class="main col-md-9">
            <h2>ĐỔI MẬT KHẨU</h2>
            <div class="password">
                <form class="pure-form" method="post" action="/changing">
                    <fieldset>
                        <div class="change form-item">
                            <label>Mật Khẩu Cũ</label>
                            <input class="form-control " placeholder="Mật Khẩu Cũ" type="password" id="old-pass" name="old_pass" size="60" maxlength="128" required>
                            <div class="show-hide-password show" tabindex="0">
                                <span class="hidden_clip">click this button to show or hide the password</span>
                                <span aria-hidden="true">Show</span>
                            </div>
                            <script>
                                document.getElementById("old-pass").setCustomValidity("<%=error%>");
                            </script>
                        </div>
                        <br>
                        <div class="change form-item">
                            <label>Mật Khẩu Mới</label>
                            <input class="form-control " type="password" placeholder="Mật Khẩu Mới" id="password" name="new_pass" size="60" maxlength="128" required>
                            <div class="show-hide-password show" tabindex="0">
                                <span class="hidden_clip">click this button to show or hide the password</span>
                                <span aria-hidden="true">Show</span>
                            </div>

                        </div>
                        <br>

                        <button type="submit"  class="btn btn-primary" >Lưu</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

<footer class="flex-rw">
    <section class="col-md-12" style="background-color:gray;color:white;font-family:fantasy;text-align: center; height: 40px;line-height: 40px;font-size: 18px;">
        <div><i class="fa fa-truck" aria-hidden="true"></i>  Giao hàng miễn phí toàn quốc  <i class="fa fa-truck" aria-hidden="true"></i></div>
    </section>
    <ul class="footer-list-top">
        <li>
            <h4 class="footer-list-header">About GREEN MOBILE</h4></li>
        <li><p style="color:white;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p></li>
        </li>
    </ul>
    <ul class="footer-list-top">
        <li>
            <h4 class="footer-list-header">Contact</h4></li>
        <li><p style="color:white;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p></li>
        </li>
    </ul>
    <ul class="footer-list-top">
        <li>
            <h4 class="footer-list-header">Support</h4></li>
        <li><p style="color:white;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p></li>
        </li>
    </ul>
    <section class="footer-social-section flex-rw">
      <span class="footer-social-overlap footer-social-connect">
      CONNECT <span class="footer-social-small">with</span> US
      </span>
        <span class="footer-social-overlap footer-social-icons-wrapper">
      <a href="https://www.facebook.com/paviliongift" class="generic-anchor" target="_blank" title="Facebook" itemprop="significantLink"><i class="fa fa-facebook"></i></a>
      <a href="https://twitter.com/PavilionGiftCo" class="generic-anchor" target="_blank" title="Twitter" itemprop="significantLink"><i class="fa fa-twitter"></i></a>
      <a href="http://instagram.com/paviliongiftcompany" class="generic-anchor" target="_blank" title="Instagram" itemprop="significantLink"><i class="fa fa-instagram"></i></a>
       </span>
    </section>
    <section class="footer-bottom-section flex-rw">
        <div style="text-align: center" class="footer-bottom-wrapper">
            <p>14CLC - Group 3 - 1453031 - 1453002 - 1453006</p>
        </div>

    </section>
</footer>
</body>