<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>
<%include ./partials/header.ejs%>

<div class="login" >
    <div class="login-triangle"></div>

    <h2 class="login-header">Log in</h2>

    <form class="login-container" action="/" method="post">
        <p><input type="text" name="username" placeholder="Tài Khoản"></p>
        <p><input type="password" name="password" placeholder="Mật Khẩu"></p>
        <p><input type="submit" value="Log in " style="background:  #262626"></p>
    </form>
</div>


<footer class="flex-rw">
    <section class="col-md-12" style="background-color:gray;color:white;font-family:fantasy;text-align: center; height: 40px;line-height: 40px;font-size: 18px;">
        <div><i class="fa fa-truck" aria-hidden="true"></i>  Giao hàng miễn phí toàn quốc  <i class="fa fa-truck" aria-hidden="true"></i></div>
    </section>
    <ul class="footer-list-top">
        <li>
            <h4 class="footer-list-header">About GREEN MOBILE</h4></li>
        <li><p style="color:white;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p></li>
        </li>
    </ul>
    <ul class="footer-list-top">
        <li>
            <h4 class="footer-list-header">Contact</h4></li>
        <li><p style="color:white;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p></li>
        </li>
    </ul>
    <ul class="footer-list-top">
        <li>
            <h4 class="footer-list-header">Support</h4></li>
        <li><p style="color:white;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p></li>
        </li>
    </ul>
    <section class="footer-social-section flex-rw">
      <span class="footer-social-overlap footer-social-connect">
      CONNECT <span class="footer-social-small">with</span> US
      </span>
        <span class="footer-social-overlap footer-social-icons-wrapper">
      <a href="https://www.facebook.com/paviliongift" class="generic-anchor" target="_blank" title="Facebook" itemprop="significantLink"><i class="fa fa-facebook"></i></a>
      <a href="https://twitter.com/PavilionGiftCo" class="generic-anchor" target="_blank" title="Twitter" itemprop="significantLink"><i class="fa fa-twitter"></i></a>
      <a href="http://instagram.com/paviliongiftcompany" class="generic-anchor" target="_blank" title="Instagram" itemprop="significantLink"><i class="fa fa-instagram"></i></a>
       </span>
    </section>
    <section class="footer-bottom-section flex-rw">
        <div style="text-align: center" class="footer-bottom-wrapper">
            <p>14CLC - Group 3 - 1453031 - 1453002 - 1453006</p>
        </div>

    </section>
</footer>
</body>