<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Green Mobile</title>
    <link rel = 'stylesheet' href="/stylesheets/product-page-style.css">
</head>
<body>
<%include ./partials/header.ejs%>
<section id = 'body' class="row">
    <section class="col-md-3 visible-lg visible-md"  >
        <section id = 'left-menu' style="width: 100%;">
            <div style="background-color: rgb(51,55,69);color: white;font-size: 17px;font-weight:bold;height: 40px;padding-left:5px;line-height: 40px;">Kinh doanh</div>
            <ul>
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown">Điện thoại <i class="icon-arrow"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Apple</a></li>
                        <li><a href="#">Samsung Galaxy</a></li>
                        <li><a href="#">Oppo</a></li>
                        <li><a href="#">Asus</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown">Apple <i class="icon-arrow"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">IPhone 5</a></li>
                        <li><a href="#">IPhone 6</a></li>
                        <li><a href="#">IPhone 7</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown">Samsung <i class="icon-arrow"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Samsung Galaxy S </a></li>
                        <li><a href="#">Samsung Galaxy J </a></li>
                        <li><a href="#">Samsung Galaxy A </a></li>

                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown">Hãng điện thoại khác<i class="icon-arrow"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Oppo</a></li>
                        <li><a href="#">Asus</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown">Tin tức<i class="icon-arrow"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Tin tức công nghệ</a></li>
                        <li><a href="#">Khuyễn mãi</a></li>
                        <li><a href="#">Hướng dẫn mua sắm</a></li>

                    </ul>
                </li>

            </ul>
            <script src="javascripts/Dropdown.js"></script>
            <div style="background-color: rgb(51,55,69);color: white;font-size: 17px;font-weight:bold;height: 40px;padding-left:5px;line-height: 40px;">Sản phẩm mới</div>
            <section id = 'new-product-left-bar'>
                <ul>
                    <li class = 'news-line'>
                        <img src = 'images/thumbnail.jpg' style="border: solid 2px gray;">
                        <p style="display: inline-block;vertical-align: middle;color:red;"> <a href= '#' style="font-size: 12px;">Playstation 4 Pro - 1TB</a><br>11.880.000</p>
                        <hr style="border: solid 1px;margin-top: 5px;margin-bottom: 5px;">
                    </li>
                    <li class = 'news-line'>
                        <img src = 'images/thumbnail.jpg' style="border: solid 2px gray;">
                        <p style="display: inline-block;vertical-align: middle;color:red;"> <a href= '#' style="font-size: 12px;">Playstation 4 Pro - 1TB</a><br>11.880.000</p>
                        <hr style="border: solid 1px;margin-top: 5px;margin-bottom: 5px;">
                    </li>
                    <li class = 'news-line'>
                        <img src = 'images/thumbnail.jpg' style="border: solid 2px gray;">
                        <p style="display: inline-block;vertical-align: middle;color:red;"> <a href= '#' style="font-size: 12px;">Playstation 4 Pro - 1TB</a><br>11.880.000</p>
                        <hr style="border: solid 1px;margin-top: 5px;margin-bottom: 5px;">
                    </li>
                    <li class = 'news-line'>
                        <img src = 'images/thumbnail.jpg' style="border: solid 2px gray;">
                        <p style="display: inline-block;vertical-align: middle;color:red;"> <a href= '#' style="font-size: 12px;">Playstation 4 Pro - 1TB</a><br>11.880.000</p>
                        <hr style="border: solid 1px;margin-top: 5px;margin-bottom: 5px;">
                    </li>

                </ul>
            </section>
            <div style="background-color: rgb(51,55,69);color: white;font-size: 17px;font-weight:bold;height: 40px;padding-left:5px;line-height: 40px;">Bán chạy</div>

            <section id = 'best-sell-left-bar'>
                <ul>
                    <li class = 'news-line'>
                        <img src = 'images/thumbnail.jpg' style="border: solid 2px gray;">
                        <p style="display: inline-block;vertical-align: middle;color:red;"> <a href= '#' style="font-size: 12px;">Playstation 4 Pro - 1TB</a><br>11.880.000</p>
                        <hr style="border: solid 1px;margin-top: 5px;margin-bottom: 5px;">
                    </li>
                    <li class = 'news-line'>
                        <img src = 'images/thumbnail.jpg' style="border: solid 2px gray;">
                        <p style="display: inline-block;vertical-align: middle;color:red;"> <a href= '#' style="font-size: 12px;">Playstation 4 Pro - 1TB</a><br>11.880.000</p>
                        <hr style="border: solid 1px;margin-top: 5px;margin-bottom: 5px;">
                    </li>
                    <li class = 'news-line'>
                        <img src = 'images/thumbnail.jpg' style="border: solid 2px gray;">
                        <p style="display: inline-block;vertical-align: middle;color:red;"> <a href= '#' style="font-size: 12px;">Playstation 4 Pro - 1TB</a><br>11.880.000</p>
                        <hr style="border: solid 1px;margin-top: 5px;margin-bottom: 5px;">
                    </li>
                    <li class = 'news-line'>
                        <img src = 'images/thumbnail.jpg' style="border: solid 2px gray;">
                        <p style="display: inline-block;vertical-align: middle;color:red;"> <a href= '#' style="font-size: 12px;">Playstation 4 Pro - 1TB</a><br>11.880.000</p>
                        <hr style="border: solid 1px;margin-top: 5px;margin-bottom: 5px;">
                    </li>

                </ul>
            </section>
        </section>
    </section>
    <section class="col-md-7 " >
        <section class="col-md-12 product-page-header"  style="color:white;font-family:fantasy;text-align: center; height: 40px;line-height: 40px;font-size: 14px;">
            <div>Phone</div>
        </section>
        <section class="col-md-12 product-page-header"  style="color:white;font-family:fantasy;text-align: center; height: 40px;line-height: 40px;font-size: 14px;">
            <div><i class="fa fa-truck" aria-hidden="true"></i>  Giao hàng miễn phí toàn quốc  <i class="fa fa-truck" aria-hidden="true"></i></div>
        </section>
        <img src="images/pk-chinh-hang-categories.jpg" class="img-responsive" style="margin-bottom: 20px;">
        <section class="col-md-12 product-category-nav"  style="color:white;font-family:fantasy; height: 40px;line-height: 40px;font-size: 14px;">
            <ul>
                <li><a href ='#'>Apple IPhone</a></li>
                <li><a href ='#'>Samsung Galaxy</a></li>
                <li><a href ='#'>OPPO</a></li>
            </ul>

        </section>

        <section class = 'sort-product'>
            <a href = '#'> <i class="fa fa-th" aria-hidden="true"></i></a>
            <a href="#">  <i class="fa fa-th-list" aria-hidden="true"></i></a>
        </section>
        <section class = 'product-place'>
            <div class="col-md-3 col-sm-6 product">
                <div class='product-content'>
                    <img src="images/iphone-red.jpg" class="img-responsive">
                    <hr style="width: 45%; border-width: 1px;opacity: 1;margin-bottom:7px;margin-top: 7px;" />
                    <p style="color: red;font-weight: bold;font-size: 13px;text-align: center;margin-top: 0;margin-bottom: 0;">10.200.000 VND</p>
                    <hr style="width: 45%; border-width: 1px;opacity: 1;margin-bottom:7px;margin-top: 7px;"/>
                    <div style="text-align: center;" class ='interact-icon'>
                        <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 product">
                <div class='product-content'>
                    <img src="images/iphone-red.jpg" class="img-responsive">
                    <hr style="width: 45%; border-width: 1px;opacity: 1;margin-bottom:7px;margin-top: 7px;" />
                    <p style="color: red;font-weight: bold;font-size: 13px;text-align: center;margin-top: 0;margin-bottom: 0;">10.200.000 VND</p>
                    <hr style="width: 45%; border-width: 1px;opacity: 1;margin-bottom:7px;margin-top: 7px;"/>
                    <div style="text-align: center;" class ='interact-icon'>
                        <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 product">
                <div class='product-content'>
                    <img src="images/iphone-red.jpg" class="img-responsive">
                    <hr style="width: 45%; border-width: 1px;opacity: 1;margin-bottom:7px;margin-top: 7px;" />
                    <p style="color: red;font-weight: bold;font-size: 13px;text-align: center;margin-top: 0;margin-bottom: 0;">10.200.000 VND</p>
                    <hr style="width: 45%; border-width: 1px;opacity: 1;margin-bottom:7px;margin-top: 7px;"/>
                    <div style="text-align: center;" class ='interact-icon'>
                        <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 product">
                <div class='product-content'>
                    <img src="images/iphone-red.jpg" class="img-responsive">
                    <hr style="width: 45%; border-width: 1px;opacity: 1;margin-bottom:7px;margin-top: 7px;" />
                    <p style="color: red;font-weight: bold;font-size: 13px;text-align: center;margin-top: 0;margin-bottom: 0;">10.200.000 VND</p>
                    <hr style="width: 45%; border-width: 1px;opacity: 1;margin-bottom:7px;margin-top: 7px;"/>
                    <div style="text-align: center;" class ='interact-icon'>
                        <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 product">
                <div class='product-content'>
                    <img src="images/iphone-red.jpg" class="img-responsive">
                    <hr style="width: 45%; border-width: 1px;opacity: 1;margin-bottom:7px;margin-top: 7px;" />
                    <p style="color: red;font-weight: bold;font-size: 13px;text-align: center;margin-top: 0;margin-bottom: 0;">10.200.000 VND</p>
                    <hr style="width: 45%; border-width: 1px;opacity: 1;margin-bottom:7px;margin-top: 7px;"/>
                    <div style="text-align: center;" class ='interact-icon'>
                        <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 product">
                <div class='product-content'>
                    <img src="images/iphone-red.jpg" class="img-responsive">
                    <hr style="width: 45%; border-width: 1px;opacity: 1;margin-bottom:7px;margin-top: 7px;" />
                    <p style="color: red;font-weight: bold;font-size: 13px;text-align: center;margin-top: 0;margin-bottom: 0;">10.200.000 VND</p>
                    <hr style="width: 45%; border-width: 1px;opacity: 1;margin-bottom:7px;margin-top: 7px;"/>
                    <div style="text-align: center;" class ='interact-icon'>
                        <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 product">
                <div class='product-content'>
                    <img src="images/iphone-red.jpg" class="img-responsive">
                    <hr style="width: 45%; border-width: 1px;opacity: 1;margin-bottom:7px;margin-top: 7px;" />
                    <p style="color: red;font-weight: bold;font-size: 13px;text-align: center;margin-top: 0;margin-bottom: 0;">10.200.000 VND</p>
                    <hr style="width: 45%; border-width: 1px;opacity: 1;margin-bottom:7px;margin-top: 7px;"/>
                    <div style="text-align: center;" class ='interact-icon'>
                        <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 product">
                <div class='product-content'>
                    <img src="images/iphone-red.jpg" class="img-responsive">
                    <hr style="width: 45%; border-width: 1px;opacity: 1;margin-bottom:7px;margin-top: 7px;" />
                    <p style="color: red;font-weight: bold;font-size: 13px;text-align: center;margin-top: 0;margin-bottom: 0;">10.200.000 VND</p>
                    <hr style="width: 45%; border-width: 1px;opacity: 1;margin-bottom:7px;margin-top: 7px;"/>
                    <div style="text-align: center;" class ='interact-icon'>
                        <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 product">
                <div class='product-content'>
                    <img src="images/iphone-red.jpg" class="img-responsive">
                    <hr style="width: 45%; border-width: 1px;opacity: 1;margin-bottom:7px;margin-top: 7px;" />
                    <p style="color: red;font-weight: bold;font-size: 13px;text-align: center;margin-top: 0;margin-bottom: 0;">10.200.000 VND</p>
                    <hr style="width: 45%; border-width: 1px;opacity: 1;margin-bottom:7px;margin-top: 7px;"/>
                    <div style="text-align: center;" class ='interact-icon'>
                        <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 product">
                <div class='product-content'>
                    <img src="images/iphone-red.jpg" class="img-responsive">
                    <hr style="width: 45%; border-width: 1px;opacity: 1;margin-bottom:7px;margin-top: 7px;" />
                    <p style="color: red;font-weight: bold;font-size: 13px;text-align: center;margin-top: 0;margin-bottom: 0;">10.200.000 VND</p>
                    <hr style="width: 45%; border-width: 1px;opacity: 1;margin-bottom:7px;margin-top: 7px;"/>
                    <div style="text-align: center;" class ='interact-icon'>
                        <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 product">
                <div class='product-content'>
                    <img src="images/iphone-red.jpg" class="img-responsive">
                    <hr style="width: 45%; border-width: 1px;opacity: 1;margin-bottom:7px;margin-top: 7px;" />
                    <p style="color: red;font-weight: bold;font-size: 13px;text-align: center;margin-top: 0;margin-bottom: 0;">10.200.000 VND</p>
                    <hr style="width: 45%; border-width: 1px;opacity: 1;margin-bottom:7px;margin-top: 7px;"/>
                    <div style="text-align: center;" class ='interact-icon'>
                        <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 product">
                <div class='product-content'>
                    <img src="images/iphone-red.jpg" class="img-responsive">
                    <hr style="width: 45%; border-width: 1px;opacity: 1;margin-bottom:7px;margin-top: 7px;" />
                    <p style="color: red;font-weight: bold;font-size: 13px;text-align: center;margin-top: 0;margin-bottom: 0;">10.200.000 VND</p>
                    <hr style="width: 45%; border-width: 1px;opacity: 1;margin-bottom:7px;margin-top: 7px;"/>
                    <div style="text-align: center;" class ='interact-icon'>
                        <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>


        </section>
        <section id = 'paging'>
            <ul>
                <li><a><i class="fa fa-angle-double-left" aria-hidden="true"></i></a></li>
                <li><a>1</a></li>
                <li><a>2</a></li>
                <li><a>3</a></li>
                <li><a>4</a></li>
                <li><a><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
            </ul>
        </section>
    </section>
    <section class="col-md-2 visible-lg visible-md" >
        <div style="background-color: rgb(51, 55, 69);color:white;padding:5px;text-align:center;font-weight:500;">Lọc theo giá</div>
        <div class="range-slider">
            <input class="input-range" type="range" value="250" min="1" max="500">
            <input type="text" class="range-value" />
        </div>
        <div class="range-slider">

            <input class="input-range" type="range" value="250" min="1" max="500">
            <input type="text" class="range-value" />
        </div>
        <div style="background-color: rgb(51, 55, 69);color:white;padding:5px;text-align:center;font-weight:500;margin-top:10px;">Lọc theo thương hiệu</div>
        <div id = 'brand-filter'>
            <img src="http://haloshop.vn/image/cache/data/manufacturers/apple-manufacturer-69x69.jpg">
            <img src="http://haloshop.vn/image/cache/data/manufacturers/samsung-manufacturer-69x69.jpg">
            <img src="http://haloshop.vn/image/cache/data/manufacturers/asus-manufacturer-69x69.jpg">
            <img src="http://haloshop.vn/image/cache/data/manufacturers/htc-manufacturer-69x69.jpg">

        </div>
    </section>

</section>
<footer class="flex-rw">
    <section class="col-md-12" style="background-color:gray;color:white;font-family:fantasy;text-align: center; height: 40px;line-height: 40px;font-size: 18px;">
        <div><i class="fa fa-truck" aria-hidden="true"></i>  Giao hàng miễn phí toàn quốc  <i class="fa fa-truck" aria-hidden="true"></i></div>
    </section>
    <ul class="footer-list-top">
        <li>
            <h4 class="footer-list-header">About GREEN MOBILE</h4></li>
        <li><p style="color:white;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p></li>
        </li>
    </ul>
    <ul class="footer-list-top">
        <li>
            <h4 class="footer-list-header">Contact</h4></li>
        <li><p style="color:white;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p></li>
        </li>
    </ul>
    <ul class="footer-list-top">
        <li>
            <h4 class="footer-list-header">Support</h4></li>
        <li><p style="color:white;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p></li>
        </li>
    </ul>



    <section class="footer-social-section flex-rw">
      <span class="footer-social-overlap footer-social-connect">
      CONNECT <span class="footer-social-small">with</span> US
      </span>
        <span class="footer-social-overlap footer-social-icons-wrapper">
      <a href="https://www.facebook.com/paviliongift" class="generic-anchor" target="_blank" title="Facebook" itemprop="significantLink"><i class="fa fa-facebook"></i></a>
      <a href="https://twitter.com/PavilionGiftCo" class="generic-anchor" target="_blank" title="Twitter" itemprop="significantLink"><i class="fa fa-twitter"></i></a>
      <a href="http://instagram.com/paviliongiftcompany" class="generic-anchor" target="_blank" title="Instagram" itemprop="significantLink"><i class="fa fa-instagram"></i></a>
       </span>
    </section>
    <section class="footer-bottom-section flex-rw">
        <div style="text-align: center" class="footer-bottom-wrapper">
            <p>14CLC - Group 3 - 1453031 - 1453002 - 1453006</p>
        </div>

    </section>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="javascripts/price_filter.js"></script>
<script src="javascripts/SearchBar.js"></script>

</body>
</html>