<form method = 'post' action ='/addProduct'>
    <label>Input product: </label><br>
    <input type="text" name="name" placeholder="name">
    <br>
    <input type="number" name="price" placeholder="price">
    <br>
    <input type="text" max="1" min="0" name="state" placeholder="state">
    <br>
    <input type="number" name="amount" placeholder="amount">
    <br>
    <input type="number" name="guaranteeTime" placeholder="guaranteeTime">
    <br>
    <label>Input product: </label><br>
    <input type="text" name="internalStrorage" placeholder="internalStrorage">
    <br>
    <input type="text" name="externalStroage" placeholder="externalStroage">
    <br>
    <input type="text" name="ram" placeholder="ram">
    <br>
    <input type="number" name="screenSize" placeholder="screenSize">
    <br>
    <input type="text" name="resolution" placeholder="resolution">
    <br>
    <input type="text" name="simKind" placeholder="simKind">
    <br>
    <input type="number" max="1" min="0" name="GPS" placeholder="GPS">
    <br>
    <input type="text" name="wifi" placeholder="wifi">



    <input type="submit">

</form>