.hidden_clip {
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
}
.change {
    position: relative;
}
.show-hide-password {
    background: 0;
    border: 0;
    cursor: pointer;
    min-height: 60px;
    min-width: 70px;
    padding: 18px;
    position: absolute;
    right: 0;
    top: 14px;
}
#sidebar{
    margin-top: 0px;
    height: 500px;
    border-style: solid;
    border: 1px;

}
#sidebar h2{
    background-color: black;
    color: white;
    height: auto;
    padding: 5px;

}
.active{
    border-style: none;
    height: 50px;
    margin: 10px;
}


.main h2{
    background-color: black;
    color: white;
    height: auto;
    padding: 5px;
}
body {
    font-weight: 100;
}