@import url(http://fonts.googleapis.com/css?family=Open+Sans);
.container{
    width: 100%;
}
#quick-cart{
    box-shadow: 0px 0px 2px black;
    margin: auto;
    right :0%;
    margin-top:2%;
    margin-left: 200px;
}

.form{
    width:60%!important;
    max-width:600px !important;
    background:white !important;
    -webkit-border-radius: 3px ;
    -moz-border-radius: 3px;
    border-radius: 3px !important;
}

#quick-cart .header{
    width:100% !important;
    padding:10px 0 10px 0 !important;
    color:#414141 !important;
    text-align: center;
}

#quick-cart div div img:first-of-type{
    margin:0 10px 0 10px;
}

#quick-cart ul{
    width:100% ;
    clear:both;
    color:#414141;
    padding:0;
    margin:0;
    height: 50px;
}
#cart-label li{
    font-weight:bold!important;

}
.title{
    width: 100%;
    padding: 2px;
    padding-left: 2%;
    background-color: #262626;
    color: white;
}

.content{
    width: 40%;
    float: left;

}
#yourcart{
    margin-left: 20px;
    margin-top: 1%;
    width: 50%;

}
.lb{
    width: 150px;
}
.input-info{
    width: 250px;
    height: 35px;
}



#quick-cart li{
    display:inline-block;
    float:left;
    height:50px !important;
    list-style-type:none;
    text-align:left;
    padding:10px 0 0px 0;
    border-bottom:1px solid #42454d;
}
#cart-control{
}
#quick-cart ul li:nth-of-type(1){
    width:3%;
    padding-left:0%;
}

#quick-cart ul li:nth-of-type(2){
    width:8%;
}

#quick-cart ul li:nth-of-type(3){
    width:30%;

}

#quick-cart ul li:nth-of-type(4){
    width:17%;
}

#quick-cart ul li:nth-of-type(5){
    width:15%;
}

#quick-cart ul li:nth-of-type(6){
    width:15%;
}

#quick-cart ul li:nth-of-type(7){
    width:10%;
}

#quick-cart ul:nth-of-type(3) li{

}
#cart-product-place{
    overflow-y:scroll;
    height: 150px;
}
#quick-cart input[type="text"]{
    width:28px;
    height:22px;
    border:1px solid #2e3036;
    background:#383b42;
    color:#aaabac;
    float:left;
}

#quick-cart .up, .down{
    width:20px;
    text-align: center;
    height:11px;
    background:#6d7077;
    line-height:11px;
    float:left;
    clear:left;
    font-size:10px;
    cursor:pointer;
    border:1px solid #2e3036;
    color:#303136;
}

#quick-cart .up:active, .down:active{
    background:#a3a5a9;
    color:#f6f6ef;
}

#quick-cart .controls{
    width:29px;
    height:22px;
    float:left;
}

#quick-cart div ul li:first-of-type{
    cursor:pointer;
    color:red;
}

#quick-cart body ul:first-of-type > li{
    height:30px;
    line-height:30px;
}

#quick-cart .total{

    padding:10px 5% 10px 0;
    text-align:right;
    width:95%;
    display:block;
    float:left;
}

#quick-cart .total + div{
    display:block;
    float:left;
    width:80%;
    padding:10px 2% 10px 2%;
    border-top:1px solid #2e3036;
}

#quick-cart #pay-button {
    padding:10px;
    float:right;
    background:#d9534f;
    color:#f6f6ef;
    border:none;
    border-top:1px solid #da9393;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor:pointer;
}
#continue-shopping{
    padding:10px;
    float:left;
    background:rgb(62, 65, 72);
    color:#f6f6ef;
    border:none!important;
    border-top:1px solid #da9393;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor:pointer;
}

#pay-button:hover{
    background:#d46464;
}

#pay-button:active{
    background:#a95050;
    color:#f6f6ef;
}
.remove-product{
    cursor: pointer;

}
.remove-product:hover{
    color:red;
}
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}


* html .clearfix {
    height: 1%;
}

/* global */




/* Modal overlay */

.login-modal-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}


/* modal */

.login-modal {
    background: #fff;
    max-width: 480px;
    width: 100%;
    height: 390px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    -webkit-box-shadow: 0 -2px 25px 0 rgba(0, 0, 0, 0.15), 0 13px 25px 0 rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    padding: 30px;
}


/* general styles */

.login-modal h1 {
    padding-top: 0;
    margin: 0;
    font-size: 18px;
    color: #333;
    padding-bottom: 10px;
}

.login-modal h2 {
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    color: #757575;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    hyphens: auto;
    padding-bottom: 30px;
}


/* form & imputs */

.login-modal .group {
    position: relative;
    margin-bottom: 45px;
}

.login-modal input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    -webkit-appearance: none;
    display: block;
    background: transparent;
    color: #636363;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #cdcdcd;
}

.login-modal input:focus {
    outline: none;
}


/* Label */

.login-modal label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: all 0.2s ease;
}


/* active */

.login-modal input:focus ~ label,
.login-modal input.used ~ label {
    top: -20px;
    transform: scale(.75);
    left: -4px;
    color: #00A0E3;
}


/* Underline */

.login-modal .bar {
    position: relative;
    display: block;
    width: 100%;
}

.login-modal .bar:before,
.login-modal .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #00A0E3;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.login-modal .bar:before {
    left: 50%;
}
.login-modal .bar:after {
    right: 50%;
}


/* active */

.login-modal input:focus ~ .bar:before,
.login-modal input:focus ~ .bar:after {
    width: 50%;
}

/* Button */

.button {
    position: relative;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;

    -webkit-font-smoothing: antialiased;
    text-align: center;
    letter-spacing: 1px;
    background: transparent;
    border: 0;
    cursor: pointer;
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -ms-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    transition: all 0.15s ease;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.05);
}

.button:focus {
    outline: 0;
}
.button:hover {
    background: #46ADD8;
    box-shadow: inset 0 -2px 0 rgba(0,0,0,0.27);
}
/* Button modifiers */

.buttonBlue {
    background: #00A0E3;
    text-shadow: 1px 1px 0 rgba(39, 110, 204, .5);
}

.buttonBlue:hover { background: #0092D0; }
/* Ripples container */

.ripples {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: transparent;
}
/* Ripples circle */

.ripplesCircle {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    width: 0;
    height: 0;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.25);
}
.ripples.is-active .ripplesCircle {
    animation: ripples .4s ease-in;
}
/* Ripples animation */

@keyframes ripples {
    0% { opacity: 0; }

    25% { opacity: 1; }

    100% {
        width: 200%;
        padding-bottom: 200%;
        opacity: 0;
    }
}

.pay-type h4{
    width: 100%;
    background-color: #262626;
    height: 40px;
    color: white;
    padding: 10px;
}
.pay-type{
    background-color: #ebebe0;
    height: 100px;
    padding: 5px;
}
.cart-table{
    background-color: #ebebe0;
    margin-top: 20px;
}

.Coupon h4{
     width: 100%;
     background-color: #262626;
     height: 40px;
     color: white;
     padding: 10px;
 }
.Coupon{
    background-color: #ebebe0;
    height: 100px;
    padding: 5px;
    margin-top: 20px;

}

.note h4{
    width: 100%;
    background-color: #262626;
    height: 40px;
    color: white;
    padding: 10px;
}
.note{
    background-color: #ebebe0;

    padding: 5px;
    margin-top: 20px;

}
.note #comment{
    width: 100%;
    height: 100px;
}
.mul-choice h4{
    width: 100%;
    background-color: #262626;
    height: 40px;
    color: white;
    padding: 10px;
}

.mul-choice h6{
   margin: 20px;
    font-size: 15px;
}

.mul-choice{
    margin-top: 2%;
    background-color: #ebebe0;
    width: 460px;
    padding: 10px;
}


.info-detail h4{
    width: 100%;
    background-color: #262626;
    height: 40px;
    color: white;
    padding: 10px;
}

.info-detail{
    background-color: #ebebe0;
    width: 460px;
    padding: 5px;
    margin-top: 20px;
}
.confirm1-button{
    background-color: #262626;
    color: white;
    height: 40px;
}
