<div class="yes insertimg">
    <span class="btn_upload">
      <input type="file" id="imag" class="input-img"  name="userPhoto" multiple/>
      Choose Image
      </span>
    <img id="ImgPreview" src="" class="preview1" />
    <input type="button" id="removeImage1" value="x" class="btn-rmv1" />
</div>

<div class="yes insertimg">
    <span class="btn_upload">
      <input type="file" id="imag2"  name="userPhoto" multiple/>
      Choose Image
      </span>
    <img id="ImgPreview2" src="" class="preview2" />
    <input type="button" id="removeImage2" value="x" class="btn-rmv2" />
</div>

<div class="yes insertimg">
    <span class="btn_upload">
      <input type="file" id="imag3"  name="userPhoto" multiple />
      Choose Image
      </span>
    <img id="ImgPreview3" src="" class="preview3" />
    <input type="button" id="removeImage3" value="x" class="btn-rmv3" />
</div>

<div class="yes insertimg">
    <span class="btn_upload">
      <input type="file" id="imag4"  name="userPhoto" multiple />
      Choose Image
      </span>
    <img id="ImgPreview4" src="" class="preview4" />
    <input type="button" id="removeImage4" value="x" class="btn-rmv4" />
</div>

<div class="yes insertimg">
    <span class="btn_upload">
      <input type="file" id="imag5"  name="userPhoto" multiple />
      Choose Image
      </span>
    <img id="ImgPreview5" src="" class="preview5" />
    <input type="button" id="removeImage5" value="x" class="btn-rmv5" />
</div>