<div class="hidden-xs " id="sidebar">
    <div class="logo">
        <a id="topbrand">
            HOLA
        </a>
    </div>

    <ul class="nav">
        <li class="active">
            <a href="/admin/dashboard">
                <i class="pe-7s-graph"></i>
                <p>Thống kê</p>
            </a>
        </li>
        <li>
            <a href="/admin/sp">
                <i class="pe-7s-user"></i>
                <p>Sản Phẩm</p>
            </a>
        </li>
        <li>
            <a href="/admin/donhang">
                <i class="pe-7s-note2"></i>
                <p>Đơn đặt hàng</p>
            </a>
        </li>
        <li>
            <a href="/admin/loaisp">
                <i class="pe-7s-news-paper"></i>
                <p>Danh mục</p>
            </a>
        </li>
        <li>
            <a href="/admin/km">
                <i class="pe-7s-science"></i>
                <p>Mã Khuyến Mãi</p>
            </a>
        </li>
        <li>
            <a href="/admin/kh">
                <i class="pe-7s-map-marker"></i>
                <p>Khách hàng</p>
            </a>
        </li>
        <li>
            <a href="/admin/ad">
                <i class="pe-7s-bell"></i>
                <p>Admin</p>
            </a>
        </li>
        <li >
            <a href="/admin/st">
                <i class="pe-7s-rocket"></i>
                <p>Tùy chỉnh</p>
            </a>
        </li>
    </ul>
</div>